# JWT Secret - Obrigatório. Gere com: openssl rand -base64 48
JWT_SECRET=UQuVWHlJ/T8NX7DlLtpLAfoqxwhwDMAwhXTBv10Pyaw9XBJrvSIonNZlKyT/6Rx0
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
